@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body {
  background-color: #F2F3F5;
  color: #6E777D;
  scroll-behavior: smooth;
}

.image-container {
  /* Apply the grayscale filter */
  filter: grayscale(100%);
  /* For older browser support */
  -webkit-filter: grayscale(100%);
}

;

.container {
  /* Set the initial state of the container */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.container.show {
  /* Set the final state of the container when scrolled into view */
  opacity: 1;
  transform: translateY(0);
}

.overlay {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: -45%;
  width: 100%;
  height: 100%;
  background: black;
  transform: skewX(15deg);
  transform-origin: top left;
  z-index: -1;
}
